<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
<body layout:fragment="container">
<h3 class="my-4">고객정보</h3>

	<table class="tb-row">
		<colgroup>
			<col width="180px">
			<col>
		</colgroup>
		<tr>
			<th>고객명</th>
			<td>[[${vo.name }]]</td>
		</tr>
		<tr>
			<th>성별</th>
			<td th:text="${vo.gender }"></td>
		</tr>
		<tr>
			<th>이메일</th>
			<td th:text="${vo.email }"></td>
		</tr>
		<tr>
			<th>전화번호</th>
			<td>[[${vo.phone }]]</td>
		</tr>
	</table>
	
	<div class="btn-toolbar gap-2 my-3 justify-content-center">
		<button class="btn btn-primary" th:onclick="location=[[@{/customer/list}]]">고객목록</button>
		<button class="btn btn-warning" th:onclick="location=[[@{/customer/modify (id=${vo.id})}]]">정보수정</button>
		<button class="btn btn-danger" 
			th:onclick="if(confirm('정말 삭제?'))location=[[@{/customer/delete(id=${vo.id})}]]">정보삭제</button>
	</div>

</body>
</html>